<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" /> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <link rel="stylesheet" href="/dist/output.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/evadesignsystem/vscode@latest/dist/output.css" /> -->
</head>
<body class="dark:bg-base-black">


<!-- Header -->
<nav class="z-30 mb-4 bg-neutral-lighter shadow-sm shadow-neutral-light/50 transition-all ease-in-out sticky top-0">
    <div class="mx-auto px-4">
        <div class="relative flex h-16 items-center justify-between">
            <span class="select-none flex justify-center items-center font-bold text-2xl text-primary">
                <img class="min-w-fit h-6 mr-2" src="/src/img/newlogo-eva.svg" alt="">
                suporte
            </span>
            <h1 class="text-ambient-black">menu</h1>
        </div>
    </div>
</nav>

<div class="flex flex-wrap gap-4 min-h-full w-full">

    <!-- Input Text -->
    <div class="w-72 relative">
        <input id="username" type="text" class="peer input-floating" placeholder="Username"/>
        <label for="username" class="label-floating">Username</label>
    </div>
    
    <!-- Input Password -->
    <div class="w-72 relative">
        <input id="password" type="password" class="peer input-floating" placeholder="password"/>
        <label for="password" class="label-floating disabled">Password</label>
    </div>

    <!-- Buttons -->

    <div class="mb-4 col-span-2">
        <button type="button" class="rounded-button secondary-button" data-mdb-ripple="true" data-mdb-ripple-color="light">
        <!-- <i class="fa-solid fa-trash-can mr-3"></i>-->
            secondary
        </button>
    </div>

    <div class="col-span-1">
        <button type="button" class="rounded-button-io secondary-button" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <i class="fa-solid fa-trash-can h-6 w-6 flex justify-center items-center"></i>
        </button>
    </div>

    <div class="mb-4 col-span-2">
        <button type="button" class="rounded-button primary-button" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <i class="fa-solid fa-trash-can mr-3"></i>
            primary button
        </button>
    </div>

    <div class="mb-4 col-span-2">
        <button type="button" class="rounded-button primary-button" data-mdb-ripple="true" data-mdb-ripple-color="light">
            <i class="fa-solid fa-trash-can mr-3"></i>
            button
        </button>
    </div>

    <div>
        <button type="button" class="square-button secondary-button" data-mdb-ripple="true" data-mdb-ripple-color="light" data-bs-toggle="alert" data-bs-target="#alert-primary">
            secondary button
        </button>
    </div>

    <div id="alert-primary" role="alert" data-mdb-position="top-right" data-mdb-stacking="true" data-mdb-append-to-body="true" data-mdb-hidden="true"
    class="alert bg-yellow-100 rounded-lg py-5 px-6 mb-3 text-base text-yellow-700 inline-flex items-center w-full alert-dismissible fade show">
        <strong class="mr-1">Holy guacamole! </strong> You should check in on some of those fields below.
        <button type="button" class="btn-close box-content w-4 h-4 p-1 ml-auto text-yellow-900 border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-yellow-900 hover:opacity-75 hover:no-underline" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>


    <div class="mb-4 col-span-2">
        <button type="button" class="rounded-button primary-button" data-mdb-ripple="true" data-mdb-ripple-color="light" data-bs-toggle="modal" data-bs-target="#modal-teste">
            <i class="fa-solid fa-trash-can mr-3"></i>
        primary button
        </button>
    </div>

    <!-- Modal -->
    <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto backdrop-filter backdrop-blur" id="modal-teste" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-modal="true" role="dialog">
        <div class="modal-dialog modal-dialog-centered relative w-auto pointer-events-none">
            <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-2xl outline-none text-current">
                <!-- Header Modal -->
                <div class="modal-header">
                    <h5 class="text-xl font-semibold leading-normal text-gray-800" id="exampleModalScrollableLabel">Modal title</h5>
                    <button type="button"
                        class="btn-close box-content w-4 h-4 !pr-2.5 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                        data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <!-- Body Modal -->
                <div class="modal-body relative p-4">
                    <p>This is a vertically centered modal.</p>
                </div>
                <!-- Footer Modal -->
                <div class="modal-footer flex flex-shrink-0 flex-wrap items-center justify-end p-4 rounded-b-md gap-2 ">
                    <button type="button" class="rounded-button secondary-text-button" data-bs-dismiss="modal">
                        cancelar
                    </button>
                    <button type="button" class="rounded-button primary-text-button">
                        salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fim Modal -->

</div>



  <div class="mb-3 w-72" relative>
    <select class="form-select input-floating bg-clip-padding bg-no-repeat appearance-none focus:shadow-none" aria-label="Default select example" placeholder="Forma de Pagamento">
        <option value="0">Forma de Pagamento</option>
        <option value="1">Pix</option>
        <option value="2">Boleto</option>
        <option value="3">Cartão de Crédito</option>
    </select>
    <label for="" class="label-floating">Forma de Pagamento</label>
  </div>


<!----------------------------------------------------------------------------------------->



<div>
    

  <div class=" w-72 relative m-4">
      <button id="select" type="button" class="dropdown-toggle pl-3 pr-10 py-2 text-left peer input-floating" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="block truncate">Boleto</span>
        <span class="material-symbols-sharp text-neutral-dark absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">expand_more</span>
      </button>
      
      <ul class="dropdown-menu hidden absolute z-10 mt-1 w-72 bg-white shadow-lg max-h-60 rounded-md text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm" aria-labelledby="select" >
       
        <li class="text-neutral-dark hover:bg-neutral-lighter cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-0" role="option">
          <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
          <span class="font-semibold block truncate">Boleto</span>
  
          <!-- Option Selected -->
          <span class="material-symbols-sharp text-2xl text-primary absolute inset-y-0 right-0 flex items-center pr-4">
            done
          </span>
        </li>
        <li class="text-gray-900 hover:bg-neutral-lighter cursor-default select-none relative py-2 pl-3 pr-9" id="listbox-option-1" role="option">
          <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
          <span class="font-normal block truncate">Dinheiro</span>
  
        </li>
  
        <!-- More items... -->
      </ul>

      <label for="select" id="listbox-label" class="label-floating">Forma de Pagamento</label>
  </div>


</div>

  <script src="https://cdn.jsdelivr.net/gh/evadesignsystem/vscode@main/node_modules/tw-elements/dist/js/index.min.js"></script>
</body>

<!-- Required popper.js -->
<script src="https://unpkg.com/@popperjs/core@2.9.1/dist/umd/popper.min.js" charset="utf-8"></script>
<script type="text/javascript">
    var tooltipTriggerList = [].slice.call(
      document.querySelectorAll('[data-bs-toggle="tooltip"]')
    );
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new Tooltip(tooltipTriggerEl);
    });
  </script>
</html>