<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <link rel="stylesheet" href="/dist/output.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/evadesignsystem/vscode@main/dist/output.css"> -->
</head>
<body>

    <!-- Header -->
    <nav class="z-30 mb-4 bg-neutral-lighter shadow-sm shadow-neutral-light/50 transition-all ease-in-out sticky top-0">
        <div class="mx-auto px-4">
            <div class="relative flex h-16 items-center justify-between">
                <span class="select-none flex justify-center items-center font-bold text-2xl text-primary">
                    <img class="min-w-fit h-6 mr-2" src="/src/img/newlogo-eva.svg" alt="">
                    suporte
                </span>
                <h1 class="text-ambient-black">menu</h1>
            </div>
        </div>
    </nav>
    
    <!-- Content -->
    <div class="container mx-auto px-3 flex justify-center">
        <!-- Input Text -->
        <div class="w-72 relative">
            <input id="email" type="text" class="peer input-floating" placeholder="e-mail"/>
            <label for="email" class="label-floating">e-mail</label>
            <span class="text-xs text-negative font-medium">Este é um texto de ajuda ao usuário.</span>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/gh/evadesignsystem/vscode@main/node_modules/tw-elements/dist/js/index.min.js"></script>
</body>
</html>